In [57]:
import json
import pandas as pd

# 将爬取到的数据整理到.csv文件中
with open('shanghai.jsonl', 'r', encoding='utf-8') as f:
    lines = f.readlines()

data = []
for line in lines:
    data.append(json.loads(line))

df = pd.DataFrame(data)

# 根据jobId进行去重
df.drop_duplicates(subset='jobId', keep='first', inplace=True)

df.to_csv('original_output.csv', index=False)

df.head(200)
# 输出数据的数量
print(len(df.index))

6550

In [43]:
df = pd.read_csv('original_output.csv')

# 筛选出需要的特征
features = ['jobType', 'workAreaCode', 'workYear', 'degreeString', 'industryType1', 'companyTypeString', 'companySizeCode', 'jobSalaryMax', 'jobSalaryMin', 'term']
df = df[features]

df.head(200)

,jobType,workAreaCode,workYear,degreeString,industryType1,companyTypeString,companySizeCode,jobSalaryMax,jobSalaryMin,term
0,0,10000,10.0,大专,4.0,民营,1.0,3000.0,2000.0,0
1,0,11100,3.0,本科,1.0,民营,1.0,3000.0,2000.0,0
2,0,999999,3.0,本科,23.0,创业公司,1.0,3000.0,2000.0,1
3,0,10000,10.0,本科,32.0,民营,7.0,3000.0,2000.0,0
4,0,10000,10.0,NaN,31.0,民营,1.0,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...
195,0,10000,1.0,本科,31.0,国企,NaN,NaN,NaN,4
196,0,10000,1.0,本科,7.0,外资（非欧美）,NaN,NaN,NaN,4
197,0,10000,1.0,硕士,31.0,国企,NaN,NaN,NaN,4
198,0,10000,1.0,硕士,39.0,国企,NaN,NaN,NaN,0
199,0,10000,1.0,硕士,31.0,国企,NaN,NaN,NaN,4

In [44]:
# 检查每一列是否包含缺省值
has_null_values = df.isnull().any()
print(has_null_values)

jobType              False
workAreaCode         False
workYear              True
degreeString          True
industryType1         True
companyTypeString     True
companySizeCode       True
jobSalaryMax          True
jobSalaryMin          True
term                 False
dtype: bool

In [45]:
# 展示薪资数据的分布
step = 1000
min_salary_max = df['jobSalaryMax'].min()
max_salary_max = df['jobSalaryMax'].max()

# 使用 cut 函数将数据划分为区间，并统计数量
bins = range(int(min_salary_max), int(max_salary_max) + step, step)
data = pd.cut(df['jobSalaryMax'], bins=bins, include_lowest=True)

# 统计每个范围内的数量
salary_max_counts = data.value_counts().sort_index()

# 输出每个范围对应的数量
print(f'jobSalaryMax 变量的值范围统计，步长为 {step}:')
for range_value, count in salary_max_counts.items():
    print(f'{range_value}: {count}')

jobSalaryMax 变量的值范围统计，步长为 1000:
(1000.999, 2001.0]: 79
(2001.0, 3001.0]: 127
(3001.0, 4001.0]: 252
(4001.0, 5001.0]: 518
(5001.0, 6001.0]: 428
(6001.0, 7001.0]: 172
(7001.0, 8001.0]: 432
(8001.0, 9001.0]: 96
(9001.0, 10001.0]: 295
(10001.0, 11001.0]: 22
(11001.0, 12001.0]: 219
(12001.0, 13001.0]: 45
(13001.0, 14001.0]: 30
(14001.0, 15001.0]: 256
(15001.0, 16001.0]: 64
(16001.0, 17001.0]: 14
(17001.0, 18001.0]: 43
(18001.0, 19001.0]: 2
(19001.0, 20001.0]: 230
(20001.0, 21001.0]: 3
(21001.0, 22001.0]: 10
(22001.0, 23001.0]: 5
(23001.0, 24001.0]: 11
(24001.0, 25001.0]: 131
(25001.0, 26001.0]: 5
(26001.0, 27001.0]: 1
(27001.0, 28001.0]: 9
(28001.0, 29001.0]: 0
(29001.0, 30001.0]: 290
(30001.0, 31001.0]: 0
(31001.0, 32001.0]: 2
(32001.0, 33001.0]: 1
(33001.0, 34001.0]: 0
(34001.0, 35001.0]: 101
(35001.0, 36001.0]: 5
(36001.0, 37001.0]: 0
(37001.0, 38001.0]: 0
(38001.0, 39001.0]: 0
(39001.0, 40001.0]: 333
(40001.0, 41001.0]: 0
(41001.0, 42001.0]: 0
(42001.0, 43001.0]: 0
(43001.0, 44001.0]: 1
(44001.0, 45001.0]: 67
(45001.0, 46001.0]: 2
(46001.0, 47001.0]: 0
(47001.0, 48001.0]: 0
(48001.0, 49001.0]: 0
(49001.0, 50001.0]: 440
(50001.0, 51001.0]: 0
(51001.0, 52001.0]: 1
(52001.0, 53001.0]: 0
(53001.0, 54001.0]: 0
(54001.0, 55001.0]: 29
(55001.0, 56001.0]: 0
(56001.0, 57001.0]: 0
(57001.0, 58001.0]: 0
(58001.0, 59001.0]: 0
(59001.0, 60001.0]: 203
(60001.0, 61001.0]: 0
(61001.0, 62001.0]: 0
(62001.0, 63001.0]: 0
(63001.0, 64001.0]: 0
(64001.0, 65001.0]: 30
(65001.0, 66001.0]: 0
(66001.0, 67001.0]: 0
(67001.0, 68001.0]: 1
(68001.0, 69001.0]: 0
(69001.0, 70001.0]: 65
(70001.0, 71001.0]: 0
(71001.0, 72001.0]: 0
(72001.0, 73001.0]: 0
(73001.0, 74001.0]: 0
(74001.0, 75001.0]: 0
(75001.0, 76001.0]: 0
(76001.0, 77001.0]: 0
(77001.0, 78001.0]: 0
(78001.0, 79001.0]: 0
(79001.0, 80001.0]: 61
(80001.0, 81001.0]: 0
(81001.0, 82001.0]: 0
(82001.0, 83001.0]: 0
(83001.0, 84001.0]: 0
(84001.0, 85001.0]: 4
(85001.0, 86001.0]: 0
(86001.0, 87001.0]: 0
(87001.0, 88001.0]: 0
(88001.0, 89001.0]: 0
(89001.0, 90001.0]: 2
(90001.0, 91001.0]: 0
(91001.0, 92001.0]: 0
(92001.0, 93001.0]: 0
(93001.0, 94001.0]: 0
(94001.0, 95001.0]: 0
(95001.0, 96001.0]: 0
(96001.0, 97001.0]: 0
(97001.0, 98001.0]: 0
(98001.0, 99001.0]: 0
(99001.0, 100001.0]: 13
(100001.0, 101001.0]: 0
(101001.0, 102001.0]: 0
(102001.0, 103001.0]: 0
(103001.0, 104001.0]: 0
(104001.0, 105001.0]: 0
(105001.0, 106001.0]: 0
(106001.0, 107001.0]: 0
(107001.0, 108001.0]: 0
(108001.0, 109001.0]: 0
(109001.0, 110001.0]: 6
(110001.0, 111001.0]: 0
(111001.0, 112001.0]: 0
(112001.0, 113001.0]: 0
(113001.0, 114001.0]: 0
(114001.0, 115001.0]: 0
(115001.0, 116001.0]: 0
(116001.0, 117001.0]: 0
(117001.0, 118001.0]: 0
(118001.0, 119001.0]: 0
(119001.0, 120001.0]: 2
(120001.0, 121001.0]: 0
(121001.0, 122001.0]: 0
(122001.0, 123001.0]: 0
(123001.0, 124001.0]: 0
(124001.0, 125001.0]: 0
(125001.0, 126001.0]: 0
(126001.0, 127001.0]: 0
(127001.0, 128001.0]: 0
(128001.0, 129001.0]: 0
(129001.0, 130001.0]: 1
(130001.0, 131001.0]: 0
(131001.0, 132001.0]: 0
(132001.0, 133001.0]: 0
(133001.0, 134001.0]: 0
(134001.0, 135001.0]: 0
(135001.0, 136001.0]: 0
(136001.0, 137001.0]: 0
(137001.0, 138001.0]: 0
(138001.0, 139001.0]: 0
(139001.0, 140001.0]: 0
(140001.0, 141001.0]: 0
(141001.0, 142001.0]: 0
(142001.0, 143001.0]: 0
(143001.0, 144001.0]: 0
(144001.0, 145001.0]: 0
(145001.0, 146001.0]: 0
(146001.0, 147001.0]: 0
(147001.0, 148001.0]: 0
(148001.0, 149001.0]: 0
(149001.0, 150001.0]: 1
(150001.0, 151001.0]: 0
(151001.0, 152001.0]: 0
(152001.0, 153001.0]: 0
(153001.0, 154001.0]: 0
(154001.0, 155001.0]: 0
(155001.0, 156001.0]: 0
(156001.0, 157001.0]: 0
(157001.0, 158001.0]: 0
(158001.0, 159001.0]: 0
(159001.0, 160001.0]: 2
(160001.0, 161001.0]: 0
(161001.0, 162001.0]: 0
(162001.0, 163001.0]: 0
(163001.0, 164001.0]: 0
(164001.0, 165001.0]: 0
(165001.0, 166001.0]: 0
(166001.0, 167001.0]: 0
(167001.0, 168001.0]: 0
(168001.0, 169001.0]: 0
(169001.0, 170001.0]: 11
(170001.0, 171001.0]: 0
(171001.0, 172001.0]: 0
(172001.0, 173001.0]: 0
(173001.0, 174001.0]: 0
(174001.0, 175001.0]: 0
(175001.0, 176001.0]: 0
(176001.0, 177001.0]: 0
(177001.0, 178001.0]: 0
(178001.0, 179001.0]: 0
(179001.0, 180001.0]: 0
(180001.0, 181001.0]: 0
(181001.0, 182001.0]: 0
(182001.0, 183001.0]: 0
(183001.0, 184001.0]: 0
(184001.0, 185001.0]: 0
(185001.0, 186001.0]: 0
(186001.0, 187001.0]: 0
(187001.0, 188001.0]: 0
(188001.0, 189001.0]: 0
(189001.0, 190001.0]: 0
(190001.0, 191001.0]: 0
(191001.0, 192001.0]: 0
(192001.0, 193001.0]: 0
(193001.0, 194001.0]: 0
(194001.0, 195001.0]: 0
(195001.0, 196001.0]: 0
(196001.0, 197001.0]: 0
(197001.0, 198001.0]: 0
(198001.0, 199001.0]: 0
(199001.0, 200001.0]: 0
(200001.0, 201001.0]: 0
(201001.0, 202001.0]: 0
(202001.0, 203001.0]: 0
(203001.0, 204001.0]: 0
(204001.0, 205001.0]: 0
(205001.0, 206001.0]: 0
(206001.0, 207001.0]: 0
(207001.0, 208001.0]: 0
(208001.0, 209001.0]: 0
(209001.0, 210001.0]: 0
(210001.0, 211001.0]: 0
(211001.0, 212001.0]: 0
(212001.0, 213001.0]: 0
(213001.0, 214001.0]: 0
(214001.0, 215001.0]: 0
(215001.0, 216001.0]: 0
(216001.0, 217001.0]: 0
(217001.0, 218001.0]: 0
(218001.0, 219001.0]: 0
(219001.0, 220001.0]: 0
(220001.0, 221001.0]: 0
(221001.0, 222001.0]: 0
(222001.0, 223001.0]: 0
(223001.0, 224001.0]: 0
(224001.0, 225001.0]: 0
(225001.0, 226001.0]: 0
(226001.0, 227001.0]: 0
(227001.0, 228001.0]: 0
(228001.0, 229001.0]: 0
(229001.0, 230001.0]: 0
(230001.0, 231001.0]: 0
(231001.0, 232001.0]: 0
(232001.0, 233001.0]: 0
(233001.0, 234001.0]: 0
(234001.0, 235001.0]: 0
(235001.0, 236001.0]: 0
(236001.0, 237001.0]: 0
(237001.0, 238001.0]: 0
(238001.0, 239001.0]: 0
(239001.0, 240001.0]: 0
(240001.0, 241001.0]: 0
(241001.0, 242001.0]: 0
(242001.0, 243001.0]: 0
(243001.0, 244001.0]: 0
(244001.0, 245001.0]: 0
(245001.0, 246001.0]: 0
(246001.0, 247001.0]: 0
(247001.0, 248001.0]: 0
(248001.0, 249001.0]: 0
(249001.0, 250001.0]: 0
(250001.0, 251001.0]: 0
(251001.0, 252001.0]: 0
(252001.0, 253001.0]: 0
(253001.0, 254001.0]: 0
(254001.0, 255001.0]: 0
(255001.0, 256001.0]: 0
(256001.0, 257001.0]: 0
(257001.0, 258001.0]: 0
(258001.0, 259001.0]: 0
(259001.0, 260001.0]: 0
(260001.0, 261001.0]: 0
(261001.0, 262001.0]: 0
(262001.0, 263001.0]: 0
(263001.0, 264001.0]: 0
(264001.0, 265001.0]: 0
(265001.0, 266001.0]: 0
(266001.0, 267001.0]: 0
(267001.0, 268001.0]: 0
(268001.0, 269001.0]: 0
(269001.0, 270001.0]: 0
(270001.0, 271001.0]: 0
(271001.0, 272001.0]: 0
(272001.0, 273001.0]: 0
(273001.0, 274001.0]: 0
(274001.0, 275001.0]: 0
(275001.0, 276001.0]: 0
(276001.0, 277001.0]: 0
(277001.0, 278001.0]: 0
(278001.0, 279001.0]: 0
(279001.0, 280001.0]: 0
(280001.0, 281001.0]: 0
(281001.0, 282001.0]: 0
(282001.0, 283001.0]: 0
(283001.0, 284001.0]: 0
(284001.0, 285001.0]: 0
(285001.0, 286001.0]: 0
(286001.0, 287001.0]: 0
(287001.0, 288001.0]: 0
(288001.0, 289001.0]: 0
(289001.0, 290001.0]: 0
(290001.0, 291001.0]: 0
(291001.0, 292001.0]: 0
(292001.0, 293001.0]: 0
(293001.0, 294001.0]: 0
(294001.0, 295001.0]: 0
(295001.0, 296001.0]: 0
(296001.0, 297001.0]: 0
(297001.0, 298001.0]: 0
(298001.0, 299001.0]: 0
(299001.0, 300001.0]: 1
(300001.0, 301001.0]: 0
(301001.0, 302001.0]: 0
(302001.0, 303001.0]: 0
(303001.0, 304001.0]: 0
(304001.0, 305001.0]: 0
(305001.0, 306001.0]: 0
(306001.0, 307001.0]: 0
(307001.0, 308001.0]: 0
(308001.0, 309001.0]: 0
(309001.0, 310001.0]: 0
(310001.0, 311001.0]: 0
(311001.0, 312001.0]: 0
(312001.0, 313001.0]: 0
(313001.0, 314001.0]: 0
(314001.0, 315001.0]: 0
(315001.0, 316001.0]: 0
(316001.0, 317001.0]: 0
(317001.0, 318001.0]: 0
(318001.0, 319001.0]: 0
(319001.0, 320001.0]: 0
(320001.0, 321001.0]: 0
(321001.0, 322001.0]: 0
(322001.0, 323001.0]: 0
(323001.0, 324001.0]: 0
(324001.0, 325001.0]: 0
(325001.0, 326001.0]: 0
(326001.0, 327001.0]: 0
(327001.0, 328001.0]: 0
(328001.0, 329001.0]: 0
(329001.0, 330001.0]: 0
(330001.0, 331001.0]: 0
(331001.0, 332001.0]: 0
(332001.0, 333001.0]: 0
(333001.0, 334001.0]: 0
(334001.0, 335001.0]: 0
(335001.0, 336001.0]: 0
(336001.0, 337001.0]: 0
(337001.0, 338001.0]: 0
(338001.0, 339001.0]: 0
(339001.0, 340001.0]: 0
(340001.0, 341001.0]: 0
(341001.0, 342001.0]: 0
(342001.0, 343001.0]: 0
(343001.0, 344001.0]: 0
(344001.0, 345001.0]: 0
(345001.0, 346001.0]: 0
(346001.0, 347001.0]: 0
(347001.0, 348001.0]: 0
(348001.0, 349001.0]: 0
(349001.0, 350001.0]: 0
(350001.0, 351001.0]: 0
(351001.0, 352001.0]: 0
(352001.0, 353001.0]: 0
(353001.0, 354001.0]: 0
(354001.0, 355001.0]: 0
(355001.0, 356001.0]: 0
(356001.0, 357001.0]: 0
(357001.0, 358001.0]: 0
(358001.0, 359001.0]: 0
(359001.0, 360001.0]: 0
(360001.0, 361001.0]: 0
(361001.0, 362001.0]: 0
(362001.0, 363001.0]: 0
(363001.0, 364001.0]: 0
(364001.0, 365001.0]: 0
(365001.0, 366001.0]: 0
(366001.0, 367001.0]: 0
(367001.0, 368001.0]: 0
(368001.0, 369001.0]: 0
(369001.0, 370001.0]: 0
(370001.0, 371001.0]: 0
(371001.0, 372001.0]: 0
(372001.0, 373001.0]: 0
(373001.0, 374001.0]: 0
(374001.0, 375001.0]: 0
(375001.0, 376001.0]: 0
(376001.0, 377001.0]: 0
(377001.0, 378001.0]: 0
(378001.0, 379001.0]: 0
(379001.0, 380001.0]: 0
(380001.0, 381001.0]: 0
(381001.0, 382001.0]: 0
(382001.0, 383001.0]: 0
(383001.0, 384001.0]: 0
(384001.0, 385001.0]: 0
(385001.0, 386001.0]: 0
(386001.0, 387001.0]: 0
(387001.0, 388001.0]: 0
(388001.0, 389001.0]: 0
(389001.0, 390001.0]: 0
(390001.0, 391001.0]: 0
(391001.0, 392001.0]: 0
(392001.0, 393001.0]: 0
(393001.0, 394001.0]: 0
(394001.0, 395001.0]: 0
(395001.0, 396001.0]: 0
(396001.0, 397001.0]: 0
(397001.0, 398001.0]: 0
(398001.0, 399001.0]: 0
(399001.0, 400001.0]: 1
(400001.0, 401001.0]: 0
(401001.0, 402001.0]: 0
(402001.0, 403001.0]: 0
(403001.0, 404001.0]: 0
(404001.0, 405001.0]: 0
(405001.0, 406001.0]: 0
(406001.0, 407001.0]: 0
(407001.0, 408001.0]: 0
(408001.0, 409001.0]: 0
(409001.0, 410001.0]: 0
(410001.0, 411001.0]: 0
(411001.0, 412001.0]: 0
(412001.0, 413001.0]: 0
(413001.0, 414001.0]: 0
(414001.0, 415001.0]: 0
(415001.0, 416001.0]: 0
(416001.0, 417001.0]: 0
(417001.0, 418001.0]: 0
(418001.0, 419001.0]: 0
(419001.0, 420001.0]: 0
(420001.0, 421001.0]: 0
(421001.0, 422001.0]: 0
(422001.0, 423001.0]: 0
(423001.0, 424001.0]: 0
(424001.0, 425001.0]: 0
(425001.0, 426001.0]: 0
(426001.0, 427001.0]: 0
(427001.0, 428001.0]: 0
(428001.0, 429001.0]: 0
(429001.0, 430001.0]: 0
(430001.0, 431001.0]: 0
(431001.0, 432001.0]: 0
(432001.0, 433001.0]: 0
(433001.0, 434001.0]: 0
(434001.0, 435001.0]: 0
(435001.0, 436001.0]: 0
(436001.0, 437001.0]: 0
(437001.0, 438001.0]: 0
(438001.0, 439001.0]: 0
(439001.0, 440001.0]: 0
(440001.0, 441001.0]: 0
(441001.0, 442001.0]: 0
(442001.0, 443001.0]: 0
(443001.0, 444001.0]: 0
(444001.0, 445001.0]: 0
(445001.0, 446001.0]: 0
(446001.0, 447001.0]: 0
(447001.0, 448001.0]: 0
(448001.0, 449001.0]: 0
(449001.0, 450001.0]: 1

In [46]:
# 缺省值处理
df.dropna(subset=['jobSalaryMax', 'jobSalaryMin'], inplace=True)
df['workYear'] = df['workYear'].fillna(0)
df['workYear'] = df['workYear'].replace(10, 0)
df['industryType1'] = df['industryType1'].fillna(0)
df['degreeString'] = df['degreeString'].fillna('None')
df['companyTypeString'] = df['companyTypeString'].fillna('None')
median_company_size = df['companySizeCode'].median()
df['companySizeCode'] = df['companySizeCode'].fillna(median_company_size)

In [47]:
# 类型转换
degree_mapping = {
    'None': 0,
    '初中及以下': 1,
    '中技/中专': 2,
    '高中': 3,
    '大专': 4,
    '本科': 5,
    '硕士': 6,
    '博士': 7,
}
df['degreeString'] = df['degreeString'].map(degree_mapping)
df.rename(columns={'degreeString': 'degree'}, inplace=True)
type_mapping = {
    'None': 0,
    '民营': 1,
    '外资（欧美）': 2,
    '外资（非欧美）': 3,
    '合资': 4,
    '国企': 5,
    '已上市': 6,
    '非营利组织': 7,
    '创业公司': 8,
    '事业单位': 9,
    '外企代表处': 10,
    '政府机关': 11
}
df['companyTypeString'] = df['companyTypeString'].map(type_mapping)
df.rename(columns={'companyTypeString': 'companyType'}, inplace=True)

In [48]:
def salary_level(salary):
    if salary < 8000:
        return 1
    elif 8000 <= salary < 20000:
        return 2
    else:
        return 3

df['jobSalaryMaxLevel'] = df['jobSalaryMax'].apply(salary_level)
df['jobSalaryMinLevel'] = df['jobSalaryMin'].apply(salary_level)

df.to_csv('new_output.csv', index=False)

df.head(100)

,jobType,workAreaCode,workYear,degree,industryType1,companyType,companySizeCode,jobSalaryMax,jobSalaryMin,term,jobSalaryMaxLevel,jobSalaryMinLevel
0,0,10000,0.0,4,4.0,1,1.0,3000.0,2000.0,0,1,1
1,0,11100,3.0,5,1.0,1,1.0,3000.0,2000.0,0,1,1
2,0,999999,3.0,5,23.0,8,1.0,3000.0,2000.0,1,1,1
3,0,10000,0.0,5,32.0,1,7.0,3000.0,2000.0,0,1,1
5,0,10500,0.0,0,60.0,2,5.0,3000.0,2000.0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
146,0,10600,1.0,4,48.0,5,1.0,3000.0,2000.0,0,1,1
147,0,10600,1.0,5,61.0,4,5.0,4000.0,2000.0,0,1,1
148,0,100202,1.0,5,48.0,1,1.0,3000.0,2000.0,0,1,1
149,0,10000,1.0,6,3.0,5,5.0,3000.0,1500.0,0,1,1
150,0,10700,1.0,4,32.0,1,1.0,4000.0,2000.0,0,1,1

In [49]:
has_null_values = df.isnull().any()
print(has_null_values)

jobType              False
workAreaCode         False
workYear             False
degree               False
industryType1        False
companyType          False
companySizeCode      False
jobSalaryMax         False
jobSalaryMin         False
term                 False
jobSalaryMaxLevel    False
jobSalaryMinLevel    False
dtype: bool

In [52]:
# 合并
df1 = pd.read_csv('new_output.csv')
df2 = pd.read_csv('SH_new_output.csv')

merged_df = pd.concat([df1, df2])

merged_df.to_csv('output.csv', index=False)